root = true

[*.py]
max_line_length = 120
indent_style = space
indent_size = 4

[*.{html,jinja,jinja2}]
insert_final_newline = false
trim_trailing_whitespace = false
indent_style = space
indent_size = 2
max_line_length = off

[*.{js,css,json}]
indent_style = space
indent_size = 2
