body {
    background-color: #f9f9fb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

.navbar-brand.title-text {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
}

h2 {
    margin-bottom: 1rem;
}

.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #e2e2e2;
}

.navbar-brand {
    font-weight: bold;
    color: #4e63ea !important;
    font-size: 1.4rem;
}

.btn {
    font-weight: 500;
}

.table thead {
    background-color: #f1f3f5;
}

.table tbody tr:hover {
    background-color: #f7f9fa;
}

.form-control:focus {
    border-color: #4e63ea;
    box-shadow: 0 0 0 0.2rem rgba(78, 99, 234, 0.25);
}

a.btn-link {
    font-size: 0.95rem;
}

footer {
    text-align: center;
    color: #aaa;
    font-size: 0.85rem;
    margin-top: 40px;
    padding-bottom: 20px;
}

.container img {
    width: 64px;
    height: 64px;
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: calc(100vh - 96px); /* Dostosuj 96px do wysokości Twojego paska nawigacyjnego */
    padding-top: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .nav-link {
    font-size: 1.1rem;
}

.sidebar .nav-link .bx {
    font-size: 1.25rem;
}

.user-display {
    padding: 0.4rem 0.8rem;
    border-radius: 50rem; /* pill shape */
    background-color: #e9ecef;
    color: #495057;
    font-weight: 500;
}