:root {
    --navbar-height: 56px;
}

body {
    background-color: #f9f9fb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    padding-top: var(--navbar-height);
}

.navbar-brand.title-text {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
}

h2 {
    margin-bottom: 1rem;
}

.navbar {
    background-color: #ffffff;
    border-bottom: 1px solid #e2e2e2;
}

.navbar-brand {
    font-weight: bold;
    color: #4e63ea !important;
    font-size: 1.4rem;
}

.btn {
    font-weight: 500;
}

.table thead {
    background-color: #f1f3f5;
}

.table tbody tr:hover {
    background-color: #f7f9fa;
}

.form-control:focus {
    border-color: #4e63ea;
    box-shadow: 0 0 0 0.2rem rgba(78, 99, 234, 0.25);
}

a.btn-link {
    font-size: 0.95rem;
}

footer {
    text-align: center;
    color: #aaa;
    font-size: 0.85rem;
    margin-top: 40px;
    padding-bottom: 20px;
}

.navbar-brand img {
    width: 40px;
    height: 40px;
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: calc(100vh - var(--navbar-height));
    /* Wysokość okna minus wysokość paska nawigacyjnego */
    padding-top: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .nav-link {
    font-size: 1.1rem;
}

.sidebar .nav-link .bx {
    font-size: 1.25rem;
}

.user-display {
    padding: 0.4rem 0.8rem;
    border-radius: 50rem;
    /* pill shape */
    background-color: #e9ecef;
    color: #495057;
    font-weight: 500;
}

.user-display.dropdown-toggle {
    text-decoration: none;
}

.sidebar .nav-link[data-bs-toggle="collapse"] {
    cursor: pointer;
}

.sidebar .nav-link[data-bs-toggle="collapse"] .bx-chevron-down {
    transition: transform 0.2s ease-in-out;
}

.sidebar .nav-link[data-bs-toggle="collapse"]:not(.collapsed) .bx-chevron-down {
    transform: rotate(180deg);
}

.main-content {
    height: calc(100vh - var(--navbar-height));
    /* Wysokość okna minus wysokość paska nawigacyjnego */
    overflow-y: auto;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group>label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-with-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.input-with-button input[type="text"] {
    /* Override the default 100% width for inputs in form-groups */
    width: auto;
    flex-grow: 1;
    /* Make the input field take up the remaining space */
}