{% extends 'layout.html' %}
{% block content %}
<div class="container mt-4">
    <h2>{{ _('Contact Administration') }}</h2>
    
    {{ macros.display_flashes() }}
    
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.library.label(class="form-label") }}
            {{ form.library(class="form-control") }}
            {% for error in form.library.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.subject.label(class="form-label") }}
            {{ form.subject(class="form-control", placeholder="Subject") }}
            {% for error in form.subject.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="mb-3">
            {{ form.message.label(class="form-label") }}
            {{ form.message(class="form-control", rows=10, style="resize: vertical; min-height: 250px;", placeholder="Message") }}
            {% for error in form.message.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">{{ _('Wyślij') }}</button>
    </form>
</div>
{% endblock %}
