{% extends "layout.html" %}
{% block content %}
<div class="container mt-5">
    {# flash messages #}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <p>
        {% set n = books|length %}
        Library currently has {{ n }}
        {% if n == 1 %}
        book
        {% elif n % 10 in [2, 3, 4] and n % 100 not in [12, 13, 14] %}
        books
        {% else %}
        books
        {% endif %}
    </p>
    <h2>List of books</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Cover</th>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Year</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>
                    {% if book.cover %}
                    <img src="{{ url_for('static', filename='uploads/' + book.cover) }}"
                        alt="Book cover {{ book.title }}" style="width: 50px; height: auto;">
                    {% else %}
                    <i class='bx bx-image' style="font-size: 24px; color: #ccc;"></i>
                    {% endif %}
                </td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.genre }}</td>
                <td>{{ book.year }}</td>
                <td>{{ 'Available' if book.is_available else 'On loan' }}</td>
                <td>
                    {% if book.is_available %}
                    <a href="{{ url_for('main.borrow_book', book_id=book.id, user_id=current_user.id) }}"
                        class="btn btn-outline-success btn-sm"><i class="bx bx-log-in-circle"></i> Borrow</a>
                    {% else %}
                    <a href="{{ url_for('main.return_book', book_id=book.id) }}"
                        class="btn btn-outline-warning btn-sm"><i class="bx bx-log-out-circle"></i> Return</a>
                    {% endif %}
                    <a href="{{ url_for('main.book_edit', book_id=book.id)}}" class="btn btn-outline-primary btn-sm"><i
                            class="bx bx-edit"></i> Edit</a>
                    <a href="{{ url_for('main.book_delete', book_id=book.id)}}" class="btn btn-outline-danger btn-sm"><i
                            class="bx bx-trash"></i> Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('main.book_add') }}" class="btn btn-primary" style="width: 150px;">
        <i class="bx bx-plus"></i> Add book
    </a>
</div>
{% endblock %}