<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Libriya</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Inter:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <!-- Flag Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.0.0/css/flag-icons.min.css" />
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body class="{% if login_page %}login-background{% endif %}">

    <nav class="navbar navbar-expand-lg navbar-dark bg-custom-dark border-bottom shadow-lg fixed-top">
        <div class="container">
            <a class="navbar-brand title-text d-flex align-items-center" href="/">
                <img src="{{ url_for('static', filename='/images/logo.png') }}" alt="Libriya" class="me-2"> Libriya 
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="{{ _('Toggle navigation') }}"> 
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex align-items-center">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                        
                        <a class="user-display dropdown-toggle d-flex align-items-center text-white" href="#"
                            role="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="rounded-circle me-2"
                                src="{{ url_for('static', filename='uploads/' + current_user.image_file) }}"
                                style="width: 32px; height: 32px; object-fit: cover;">
                            {{ current_user.username }}
                        </a>

                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <a class="dropdown-item"
                                href="{{ url_for('main.user_profile', user_id=current_user.id) }}"><i
                                    class='bx bx-user-circle align-middle me-2'></i>{{ _('Profile & Loans') }}</a> 
                            <a class="dropdown-item" href="{{ url_for('main.user_settings') }}"><i
                                    class='bx bx-cog align-middle me-2'></i>{{ _('Settings') }}</a> 
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ url_for('main.logout') }}"><i
                                    class='bx bx-log-out align-middle me-2'></i>{{ _('Logout') }}</a> 
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">

            
            {% if not login_page %}
            
            <nav id="sidebarMenu" class="col-md-2 d-none d-md-block bg-light sidebar border-end pt-5">
                <div class="position-sticky pt-3">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item mb-1">
                            <a class="nav-link {% if active_page == 'books' %}active {% else %}text-dark {% endif %}"
                                href="{{ url_for('main.home') }}">
                                <i class='bx bxs-book align-middle me-2'></i>
                                <span class="align-middle">{{ _('Books') }}</span> 
                            </a>
                        </li>
                        {% if current_user and current_user.is_admin %}
                        <li class="nav-item mb-1">
                            <a class="nav-link d-flex justify-content-between align-items-center {% if parent_page != 'admin' %}collapsed{% endif %} {% if parent_page == 'admin' %}active{% else %}text-dark{% endif %}"
                                data-bs-toggle="collapse" href="#adminMenu" role="button"
                                aria-expanded="{% if parent_page == 'admin' %}true{% else %}false{% endif %}"
                                aria-controls="adminMenu">
                                <span>
                                    <i class='bx bxs-dashboard align-middle me-2'></i>
                                    <span class="align-middle">{{ _('Administration') }}</span> 
                                </span>
                                <i class='bx bx-chevron-down'></i>
                            </a>
                            <div class="collapse {% if parent_page == 'admin' %}show{% endif %}" id="adminMenu">
                                <ul class="nav flex-column ms-3">
                                    <li class="nav-item">
                                        <a class="nav-link {% if active_page == 'users' %}active{% else %}text-dark{% endif %}"
                                            href="{{ url_for('main.users') }}">{{ _('Users') }}</a> 
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link {% if active_page == 'loans' %}active{% else %}text-dark{% endif %}"
                                            href="{{ url_for('main.loans') }}">{{ _('Loans') }}</a> 
                                    </li>
                                </ul>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            {% endif %}
            
            <main
                class="{% if login_page %}col-12{% else %}col-md-10 ms-sm-auto{% endif %} main-content {% if login_page %}login-full-height{% else %}pt-5{% endif %}">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        // Bootstrap tooltips initialization
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
</body>

</html>