{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h2>{{ title }}</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        {{ macros.form_field(form.name, field_type='text', icon='bx-building', placeholder=_("Enter library name")) }}
                        {{ macros.form_field(form.loan_overdue_days, field_type='number', icon='bx-time', placeholder=_("Loan overdue days")) }}
                        <div class="d-grid">
                           {{ form.submit(class="btn btn-primary w-100") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}