{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h2>{{ _('Loan a Book') }}</h2>
    <hr>

    {{ macros.display_flashes() }}

    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        {{ macros.form_field(form.book_id, field_type='select', icon='bx-book') }}
        {{ macros.form_field(form.user_id, field_type='select', icon='bx-user') }}
        {{ macros.form_submit(form.submit.label.text, cancel_url=url_for('loans.loans')) }}
    </form>
</div>
{% endblock %}