{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>{{ title }}</h2>
        <a href="{{ url_for('main.loan_add') }}" class="btn btn-primary add-book-btn">Add Loan
        </a>
    </div>
    <hr>

    {# flash messages #}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Book Title</th>
                <th>User</th>
                <th>Loan Date</th>
                <th>Return Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for loan in loans %}
            <tr>
                <td>{{ loan.book.title }}</td>
                <td>{{ loan.user.username }}</td>
                <td>{{ loan.loan_date.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>
                    {% if loan.return_date %}
                    {{ loan.return_date.strftime('%Y-%m-%d %H:%M') }}
                    {% else %}
                    <span class="badge bg-warning text-dark">On Loan</span>
                    {% endif %}
                </td>
                <td>
                    {% if not loan.return_date %}
                    <form action="{{ url_for('main.return_loan', loan_id=loan.id) }}" method="POST"
                        style="display: inline;">
                        <button type="submit" class="btn btn-outline-warning btn-sm" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Return Book"><i class="bx bx-log-out-circle"></i></button>
                     </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}