{% extends "layout.html" %}
{% block content %}

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{{ url_for('static', filename='images/logo-background.svg') }}" id="icon" alt="Logo" />
      <h4 class="libriya-title">Libriya</h4>



      <!-- Login Form -->
    </div>

    {{ macros.display_flashes() }}

    <form method="POST" action="/login">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="{{ _('username') }}">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="{{ _('password') }}">
      <input type="submit" class="fadeIn fourth" value="{{ _('Log In') }}">
    </form>
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">{{ _('Forgot Password?') }}</a>
    </div>
    <!-- Default credentials section -->
    <div class="default-credentials">
      <p class="section-title">{{ _('Default credentials:') }}</p>
      <div class="credential-item">
        <p class="credential-label">{{ _('Administrator:') }}</p>
        <p class="credential-value"><i class='bx bx-user'></i> admin <i class='bx bx-lock'></i> admin</p>
      </div>
      <div class="credential-item">
        <p class="credential-label">{{ _('Standard User:') }}</p>
        <p class="credential-value"><i class='bx bx-user'></i> user <i class='bx bx-lock'></i> user</p>
      </div>
      <div class="credential-item">
        <p class="credential-label">{{ _('Manager:') }}</p>
        <p class="credential-value"><i class='bx bx-user'></i> manager <i class='bx bx-lock'></i> manager</p>
      </div>
    </div>
    <!-- Language Dropdown -->
    <div class="dropdown my-3">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="languageDropdown"
        data-bs-toggle="dropdown" aria-expanded="false">
        <i class='bx bx-globe'></i> {{ _('Language') }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="languageDropdown">
        {% for lang_code in config.LANGUAGES %}
        <li><a class="dropdown-item" href="{{ url_for('main.set_language', lang=lang_code) }}"><span
              class="fi fi-{{ 'gb' if lang_code == 'en' else lang_code }} me-2"></span>{{ lang_code|upper }}</a></li>
        {% endfor %}
      </ul>
    </div>


  </div>
  <div class="photo-credit">
    <p>Photo by <a
        href="https://unsplash.com/@itfeelslikefilm?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">🇸🇮
        Janko Ferlič</a> on <a
        href="https://unsplash.com/photos/photo-of-library-with-turned-on-lights-sfL_QOnmy00?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
    </p>
  </div>
</div>



{% endblock %}