{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h2>{{ _('Add a new user') }}</h2>
    <hr>

    {{ macros.display_flashes() }}

    <form method="POST" action="" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        {{ macros.form_field(form.username, field_type='text', icon='bx-user', placeholder=form.username.render_kw.placeholder if form.username.render_kw and 'placeholder' in form.username.render_kw else None) }}
        {{ macros.form_field(form.email, field_type='email', icon='bx-mail-send', placeholder=form.email.render_kw.placeholder if form.email.render_kw and 'placeholder' in form.email.render_kw else None) }}
        {{ macros.form_field(form.password, field_type='password', icon='bx-lock-alt', placeholder=form.password.render_kw.placeholder if form.password.render_kw and 'placeholder' in form.password.render_kw else None) }}
        {{ macros.form_field(form.confirm_password, field_type='password', icon='bx-lock-alt', placeholder=form.confirm_password.render_kw.placeholder if form.confirm_password.render_kw and 'placeholder' in form.confirm_password.render_kw else None) }}
        {{ macros.form_submit(form.submit.label.text, cancel_url=url_for('users.users')) }}
    </form>
</div>
{% endblock %}