{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h2>{{ _('Add a new user') }}</h2>
    <hr>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form method="POST" action="" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group mb-3">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control", placeholder="") }}
        </div>
        <div class="form-group mb-3">
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", placeholder=form.email.render_kw.placeholder) }}
            {% for error in form.email.errors %}<span class="text-danger">{{ error }}</span>{% endfor %}
        </div>
        <div class="form-group mb-3">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control", placeholder="") }}
            {% for error in form.password.errors %}<span class="text-danger">{{ error }}</span>{% endfor %}
        </div>
        <div class="form-group mb-3">
            {{ form.confirm_password.label(class="form-label") }}
            {{ form.confirm_password(class="form-control", placeholder="") }}
            {% for error in form.confirm_password.errors %}<span class="text-danger">{{ error }}</span>{% endfor %}
        </div>
        <div class="mt-4 d-flex align-items-center gap-2">
            {{ form.submit(class="btn btn-primary") }}
            <a href="{{ url_for('main.users') }}" class="btn btn-secondary">
                {{ _('Cancel') }}
            </a>
        </div>
    </form>
</div>
{% endblock %}